In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import *
import seaborn as sns
import random
import scipy
from utils import *
from patsy import dmatrices
import re
import datetime
import asyncio
import json
import aiohttp
from understat import Understat
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import *
import nest_asyncio
nest_asyncio.apply()

In [18]:
def Constrcut_df_from_results(li):

    col_name = ['id', 'datetime', 'result', 'team', 'team_xG', 'team_score', 'team_conced','home', 'opponent', 'oppo_xG']
    id, datetime, result, team, team_xG, goal_score, goal_conced, home, opponent, oppo_xG = [], [], [], [], [], [], [], [], [], []
    for game in li:
        id.append(game['id'])
        opo_side = 'a' if game['side'] == 'h' else 'h'
        opponent.append(game[opo_side]['title'])
        team.append(game[game['side']]['title'])
        home.append(0 if game['side'] == 'h' else 1)
        result.append(game['result'])
        team_xG.append(game['xG'][game['side']])
        datetime.append(game['datetime'])
        goal_score.append(game['goals'][game['side']])
        goal_conced.append(game['goals'][opo_side])
        oppo_xG.append(game['xG'][opo_side])
    data_list = [id, datetime, result, team, team_xG, goal_score, goal_conced, home, opponent, oppo_xG]
    df = pd.DataFrame({col_name: col for col_name, col in zip(col_name, data_list)})
    df['oppo_score'] = df['team_conced']
    df['oppo_conced'] = df['team_score']
    df['oppo_home'] = df['home'].apply(lambda x: 1 if x == 0 else 1)
    return df

In [19]:
data = get_match_result('Chelsea', 2017)

In [20]:
df = Constrcut_df_from_results(data)
df.head()

,id,datetime,result,team,team_xG,team_score,team_conced,home,opponent,oppo_xG,oppo_score,oppo_conced,oppo_home
0,7123,2017-08-12 15:00:00,l,Chelsea,1.35651,2,3,0,Burnley,0.564237,3,2,1
1,7137,2017-08-20 16:00:00,w,Chelsea,0.834423,2,1,1,Tottenham,0.72428,1,2,1
2,7140,2017-08-27 13:30:00,w,Chelsea,1.16991,2,0,0,Everton,0.326655,0,2,1
3,7151,2017-09-09 15:00:00,w,Chelsea,1.03943,2,1,1,Leicester,1.34903,1,2,1
4,7167,2017-09-17 13:30:00,d,Chelsea,0.762129,0,0,0,Arsenal,1.42208,0,0,1

In [11]:
def get_current_rank(end_date, team, opponent, start_date, year):
    table = get_current_rank_data('EPL', year, start_date= start_date, end_date=end_date)
    data = pd.DataFrame(table[1:], columns=table[0])
    rank = data.loc[data['Team'] == team].index.to_list()[0] + 1
    opponent_rank = data.loc[data['Team'] == opponent].index.to_list()[0] + 1
    return rank, opponent_rank

def minus_one_day(dt):
    date = datetime.datetime.strptime(dt, '%Y-%m-%d') - datetime.timedelta(days = 1)
    return datetime.datetime.strftime(date,"%Y-%m-%d")

In [13]:
get_current_rank('2017-10-01', 'Chelsea', 'Burnley', '2017-8-11', '2017')

(4, 6)

In [ ]:
/Users/marceloyou/Downloads/E0-1.csv